*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

.container
{
    height:100vh;
    background-color: rgb(94, 137, 216);
}

.enteries
{
    position:absolute;
    top:10%;
    bottom: 10%;
    left:20%;
    right:20%;
    background-color: #383292fa;
    color:white;
    
}
.enteries h1{
    margin-bottom: 20px;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: center;
    line-height:50px;
    margin-top:15px;
}
h2{
    text-align:center;
}
.row{
    width:100%;
    margin-bottom:10px;
    margin-left:20%;
    margin-right:20%;
}
.row label{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    color:rgba(255, 255, 255, 0.822);
}
.row input{
    height:30px;
    font-size:15px;
}
.left{
    width:40%;
    display:inline-block;
}
.right{
    width:60%;
}
#add ,#search{
    width:60%;
    text-align:center;
    color:white;
    font-size:18px;
    margin:auto;
    margin-top:20px;
    border:1px solid #acacb4fa;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: rgba(0, 0, 255, 0.623);
}
#message{
    font-size: 30px;
    color:white;
    margin-top:10px;

}